<h2> <em> Sunrise developers</em></h2>
Filter: <input type="text" placeholder="Enter a name!" ng-model="inputt" />
<br /><br />
<table border="1">
 
       <tr>
         <th ng-click="doSort('name')" ng-model="reverse">
            <span>Name test</span> <i ng-class="reverse ?  a: b "></i></th> 
         <th ng-click="doSort('Country')">
            <span>Country</span> <i  ng-class="reverse ? a : b "></i></th>
         <th ng-click="doSort('ExpensesYear')">
            <span>Expenses/year</span> <i  ng-class="reverse ? a: b "></i></th>
         <th ng-click="doSort('dateOfBirth')"><span>Date Of Birth</span> <i  ng-class="reverse ? a: b "></i></th>
       </tr>
 
       <tr ng-repeat="person in persons | filter:inputt | orderBy:sortBy:reverse">
         <td>{{ person.name }}</td>
         <td>{{ person.Country}}</td>
         <td>{{ person.ExpensesYear | currency }}</td>
         <td>{{ person.dateOfBirth | date }}</td>
       </tr>
</table>